<div id="group-show-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="group-owner">
          <h3>Organizer</h3>
          <%= render partial: "/groups/group_owner", locals: {user: @group.owner }  %>
        </div>
      </div>

      <div class="col-lg-8">

      <h3><%= @group.name %></h3>

      <form class='join-group' action='/events/<%= @group.event_id %>/groups/join'>
        <input type='hidden' name=group_id value=<%=@group.id%>>
        <input type='submit' value='Join Group' class="btn btn-large btn-success">
      </form>
      <%= link_to "Message Group", new_message_path(group: @group), class: "btn btn-large btn-success" %>


      <% if @attendees.any? %>
      <div class="group-members">
        <h3>Attending</h3>
        <% @attendees.each do |attendee| %>
          <%= render partial: "/groups/group_member", locals: {user: attendee} %>
        <% end %>
      <% end %>

      <% if @group.messages %>
        <% @group.messages.each do |message| %>
          <h6><%= message.user.first_name %></h6>
          <p><%= message.content %></p>
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
