<div id="map"></div>

<div id="events-show-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-centered">
        <h4> <%= @event.title %> </h4>
        <h5>Date: <%= "#{std_format_date(@event.date)} #{std_format_time(@event.time)}"%></h5>
        <h5>Location: <span id='event-name'><%= @event.venue.to_s %></span></h5>
        <h5>More Information: <%=link_to "At Songkick", @event.url, :target => "_blank" %></h5>

          <% if @artist %>
            <h5><%= link_to "#{@artist.name} on Spotify", @artist.spotify_url, :target => "_blank" %></h5>
          <% end %>

          <%= link_to "Start your own group", "/events/#{@event.id}/groups/new", class: 'start-squad btn btn-large btn-success' %>

          <% if @event.groups.length > 0 %>
            <%= link_to "Join a group", "/events/#{@event.id}/groups", class: "join-squad btn btn-large btn-success" %>
          <% end %>

          <div id="coordinates">
            <%= "#{@event.latitude}|#{@event.longitude}"%>
          </div>
      </div>
    </div>
  </div>
</div>
