<div id="map"></div>

<div id="events-show-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-centered">
        <h4> <%= @event.title %> </h4>
        <p>Date: <%= "#{std_format_date(@event.date)} #{std_format_time(@event.time)}"%></p>
        <p>Location: <span id='event-name'><%= @event.venue.to_s %></span></p>
        <p>More Information: <%=link_to "At Songkick", @event.url, :target => "_blank" %></p>

          <% if @artist %>
            <h5><%= link_to "#{@artist.name} on Spotify", @artist.spotify_url, :target => "_blank" %></h5>
          <% end %>

          <%= link_to "Start your own group", "/events/#{@event.id}/groups/new", class: 'start-squad'   %>

          <% if @event.groups.length > 0 %>
            <%= link_to "Join a group", "/events/#{@event.id}/groups", class: "join-squad" %>
          <% end %>

          <div id="coordinates">
            <%= "#{@event.latitude}|#{@event.longitude}"%>
          </div>
      </div>
    </div>
  </div>
</div>
