<h1> <%= @event.name %> </h1>
  <h3>Starts <%= std_format_date(@event.start)%></h3>
  <h3>Location: <%= @event.address.to_s + ", " + "new york " %></h3>
  <h3>More Information: <a href=<%= @event.url %>>At their Website</a></h3>
  <div class="description-photo">
    <div class="col-md-8">
      <p><%= @event.description %></p>
    </div>
    <div class="col-md-4">
      <%= image_tag(@event.logo_url) %>
    </div>


<%= link_to("I need a buddy!", "/events/#{@event.id}/groups/new") %>

<%= link_to "Ask to join my squad!", "/events/#{@event.id}/groups", class: "join-squad" %>


<div class="modal fade" id="groups-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Groups Going</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->