<h1> <%= @event.name %> </h1>
<p> <%= @event.text %> </p>

<ul>
  <li>Starts <%= @event.start %></li>
  <li>Location: <%= @event.address.to_s + ", " + @event.city.to_s %></li>
  <li>More Information: <a href=<%= @event.url %>>At their Website</a></li>

</ul>


